:root {
  --primary-color: #353535;
  --secondary-color: #3C6E71;
  --tertiary-color: #D9D9D9;
  --text-color: #FFFFFF;
  --back-color: #284B63;
}

* {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* HEADER STYLE START */

header {
  height: 100px;
  background-color: var(--primary-color);
  color: var(--text-color);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  padding: 10px;
  border: 1px solid var(--tertiary-color);
  border-radius: 0.1em;
  margin-left: 1em;
  transition: all 1s ease-in-out;
}

header h1 a {
  text-decoration: none;
  color: var(--tertiary-color)
}

/* NAV STYLE START */

header nav ul li {
  margin-right: 2em;
  display: inline;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

#menu ul li a {
  color: var(--text-color);
  padding: 1em;
  transition: all 0.5s ease;
  box-shadow: 0 0 100px var(--primary-color) inset;
}

/* BODY STYLE START */

body {
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER ANIMATION START */


header h1:hover {
  background-color: var(--back-color);
  color: var(--text-color);
  border-radius: 5px;
  rotate: 720deg;
  box-shadow: 0 0 30px var(--primary-color) inset;
}

#menu ul li a:hover {
  padding: 1em;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--primary-color) inset;
}

/* SECTION STYLE START  */
.task-title-app {
  width: 100%;
  padding: 30px 25px;
  background: var(--tertiary-color);
}

section p {
  margin: 5px 0 20px;
}

section p,
section li {
  font-size: 1.6rem;
}

/* BUTTON START */
.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--secondary-color);
  color: var(--text-color);
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--back-color);
}

.btn:hover {
  box-shadow: 0 2px var(--back-color);
  top: -2px;
}
.btn:active {
  box-shadow: 0 0px var(--back-color);
  top: 0;
}

/* TASK LIST START */
.task-list-wrapper {
  flex: 1;
  margin: 0 20px 20px;
}

.list-title {
  color: var(--back-color);
  font-size: 2.6rem;
}

.task-list {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: rgb(196, 196, 196);
  border-radius: 12px;
  border: 2px solid var(--primary-color);
}

.task-item {
  color: var(--grey);
  padding: 15px 15px;
  border: 2px solid var(--primary-color);
  background: var(--tertiary-color);
  border-radius: 12px;
  margin-bottom: 20px;
}

.task-name {
  margin: 0;
  font-size: 1.8rem;
}

.task-type {
  color: var(--secondary-color);
  font-size: 1.55rem;
}
.task-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 5px 0;
  justify-content: space-between;
}

.task-actions button,
.task-actions select {
  flex: 1;
}

/* FORM STYLE START */

form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

form input {
  outline: none;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 2.2rem;
  border: 2px solid var(--grey);
  border-radius: 12px;
}

form .form-group {
  margin: 10px 6px 10px 0;
  flex: 1;
}

/* SELECT STYLE START */

.select-dropdown,
.select-status {
  display: block;
  font-size: 2.2rem;
  color: #444;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 2px solid var(--grey);
  border-radius: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  appearance: none;
}

.select-status {
  font-size: 1.4rem;
  padding: 4px 28px 4px 4px;
  width: auto;
}

.select-dropdown::-ms-expand,
.select-status::-ms-expand {
  display: none;
}

.select-dropdown:hover,
.select-status:hover {
  border-color: #888;
}

.select-dropdown:focus,
.select-status:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-dropdown option,
.select-status option {
  font-weight: normal;
  font-size: 2rem;
}